.list{
	width: 100vw;
	margin: 0 auto;
	margin-top: 5vh;
}
.list li{
	display: flex;
	width: 100%;
	box-sizing: border-box;
	padding: 0 5vw;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	color: #545454;
	font-size: 0.32rem;
}
.list li{
	background: #fff;
	border-bottom: 2px solid #f3f3f3;
	height: 8vh;
}
.input{
	width: 90vw;
	margin-left: 4.5vw;
	height: 4vh;
	border-radius: 2vw;
	border: 1px solid #cccccc;
}