.yd{
	width: 100vw;
	box-sizing: border-box;
	padding: 0 5vw;
	height: 14vh;
	background: #5BB8FF;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.yuan{
	width: 20vw;
	height: 20vw;
	border-radius:50%;
	border: 6px solid #8dcdff;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}
.yuan span,.yuan i{
	color: #FBE074;
	display: block;
	font-size: 0.28rem;
}
.dadui,.yd1{
	font-size: 0.28rem;
	color: #fff;
	letter-spacing: 1px;
}
.yd1 .ydsl,.daduisl{
	color: #fbe074;
	font-size: 0.32rem;
}
.dadui{
	margin-right: 10vw;
}
.list{
	width: 100vw;
	margin: 0 auto;
}
.list li{
	display: flex;
	width: 100%;
	box-sizing: border-box;
	padding: 0 5vw;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	color: #545454;
	font-size: 0.32rem;
}
.list li{
	background: #fff;
	border-bottom: 2px solid #f3f3f3;
	height: 8vh;
}
body{
	background: #F3F3F3;
}
